
@{
    //ViewData["Title"] = "home";
        Layout = "~/Views/Shared/homebage.cshtml";
}




    
    <div class="card1" style="width:1000px ; align-items: center;
        align-content: center;">
        

        <div class="info" >
   
            <h1 class=text-center >ABOUT US</h1>
            <h2 style="color:#617c59">salmlm for accessories</h2>
            <h3>is our family business with over 10 years of experience.
                We are specialised in fine jewellery manufacturing in the Middle East and Far East.
                Based in egypt,
                our company combines three generations of industry knowledge and expertise along with handwork and the precision of high-tech machinery to create beautifully finished jewellery.
            <hr class="text-center"/>
        </div>

        <div class="icon">
               <img src="https://i.pinimg.com/564x/4e/cf/51/4ecf5160002eb45b2dcd52f8ee9476bc.jpg"  style="margin :25px" /> 
               <img src="https://i.pinimg.com/564x/2e/68/d1/2e68d10f5b24a1a5852638f5f71d3473.jpg"  style="margin :25px 30px" /> 
               <img src="https://i.pinimg.com/564x/1d/a4/e4/1da4e46eaa73202cf1852140528ee124.jpg"  style="margin :25px" />
        </div>
    </div>



   
    

